.header {
  background-image: url('../images/header-bg-mobile.svg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  @include on-tablet {
    background-position: center;
  }

  &__content {
    @include content-padding-in-line;

    height: $main-height;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
  }

  &__bottom {
    padding-bottom: 88px;
  }
}

// @media (max-width: 480px) {
//   .header {
//     background-position: -258px center;
//   }
// }
