.main {
  --colums: 2;

  display: grid;
  row-gap: 92px;
  padding-block: 92px;
  z-index: 1;

  @include content-padding-in-line;

  @include on-tablet {
    row-gap: 120px;
    padding-block: 120px;
  }

  &__compare-bikes {
    &__products {
      @include page-grid;

      row-gap: 40px;
    }
  }

  &__aboutUs {
    @include page-grid;

    &__titel {
      white-space: nowrap;
      grid-column: 1/-1;

      @include on-tablet {
        grid-column: 1/4;
      }

      @include on-desktop {
        grid-column: span 5;
      }
    }

    &__description {
      grid-column: 1/-1;

      @include on-tablet {
        grid-column: 4/7;
      }

      @include on-desktop {
        grid-column: span 5;
      }
    }
  }

  &__product {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
