.menu {
  background-color: rgba(194, 194, 194, 1);
  box-sizing: border-box;
  overflow: auto;
  height: $main-height;
  text-transform: uppercase;
  font-weight: 600;

  &__top {
    margin-bottom: 24px;
  }

  &__content {
    position: relative;
  }

  &__contents {
    @include content-padding-in-line;
  }

  &__phone-number {
    text-decoration: none;
    color: $main-menu-color;
    display: block;
    font-size: 16px;
    margin-bottom: 16px;

    line-height: 27px;
    letter-spacing: 0;
  }

  &__call-to-order {
    padding-bottom: 7px;
    border-bottom: 1px solid $main-menu-color;
    color: $main-menu-color;
    width: fit-content;
    text-decoration: none;
    display: block;
    font-size: 12px;

    line-height: 16px;
    letter-spacing: 2px;
  }
}
