$main-height: 100vh;
$main-menu-color: rgba(29, 29, 29, 1);
$table-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$btn-hover: 1px 4px 16px 0 #e8e8f066;
$btn-active: 1px 4px 16px 0 #e8e8f0a3;
$input-background: #f8f8fa;
$input-placeholder: #7e7e83;
$main-color: rgba(255, 255, 255, 1);
